.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 64rem;
  margin: 0 auto;
}

.HeaderBox {
  flex-basis: 50%;
  flex-grow: 0;
}

.color-nav {
  background-color: burlywood;
}

.addMarg {
  margin: 30px;
}

.splitExpense {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
}

.info {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}
